.flex-row-l-to-r {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Editor Buttons Styling */
/* align the editor_buttons_panel to the left */
#editor_buttons_panel {
    float: left;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: 10%;
    height: 100%;
}
/* Map Styling*/
/* width and height are required */
#map {
    /*multiply the screen width by .8  and convert to px*/
    width: 800px;
    height: 800px;
}

/* Property Editor Styling */

/* align the aside with id property_editor to the right*/
/*  give it an outline on the inner edge when the element is visible*/

#property_editor{
    float: right;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    width: auto;
    height: 100%;
    overflow: auto;
    /* only show the outline when the editor is visible */
    outline: 1px solid black;
    align-items: center;
    visibility: hidden;

}

/* stack the elements in the property_editor_content element */
/* aligned to the center */
#property_editor_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}